@charset "utf-8";

/*  SECTIONS  ============================================================================= */

section {
	clear: both;
	padding: 80px 0;
	margin: 0px; }



/*  SECTION 1  ============================================================================= */

/*.section-1 { padding-bottom: 0; }*/

.i {
	text-align: center; 
	vertical-align: -0.12em;
	color: #e67e22 }

.section-1 .long-subtitle { margin-bottom: 30px; }

.service-title  { margin-bottom: 10px; }
.service-title i { float: left; }
.service-title h3 { 
	float: left;
	margin: 0 0 0 20px;
	font-size: 125%; 
    letter-spacing: 5px; }
/*.service-title h3 span { color: #e67e22; }*/

.service-bgcolor { 
	padding-bottom: 25px;
	background-color: rgba(244,244,244,0.42); }



/*  SECTION 2  ============================================================================= */

.section-2 { padding: 0; }

.intro { 
	padding-top: 150px; 
	transition: all 0.9s ease; }

.gallery-showcase {
	list-style: none;
	width: 100%; }

.gallery-showcase li {
	display: block;
	float: left;
	width: 25%; }

.section-2-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000; }

.section-2-photo img {
	opacity: 0.7;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s; }

.section-2-photo img:hover {
	opacity: 1;
	transform: scale(1.03); }



/*  SECTION 3  ============================================================================= */

.section-3 { background-color: #f4f4f4; }

.section-3-containers:first-child { /* prvi kontejner */
	margin-top: 30px;
	text-align: right;
	padding-right: 3%; }
.section-3-containers:last-child { /* grugi kontejner */
	text-align: left;
	padding-left: 3%;
	margin-top: 70px; }

.asection-3-img { width: 39%; /* prilagoditi po drugom kontejneru */ }

.section-3-content { margin-bottom: 50px;}
	.section-3-content:last-of-type { margin-bottom: 80px;  /* treći element */ }
	.section-3-content div { /* pravi krug oko teksta */
		color: #e67e22;
		font-size: 150%;
		height: 54px;
		width: 54px;
		border: 2px solid #e67e22;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		margin-right: 25px;
		float: left;
		padding: 5px; }

.btn-app:link, /* - default border-bottom is 1px with style global links - */
.btn-app:visited { border: 0; }

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px; }



/*  SECTION 4  ============================================================================= */

.box img {
	height: auto;
	margin-bottom: 15px; }

.section-4/*,
.section-4 h3 */{ font-weight: 300; }
.section-4 a { font-weight: 400; }
.section-4-feature { margin-bottom: 5px; }

.destination-small { font-size: 70%; }



/*  SECTION 5  ============================================================================= */

.section-5 {
	font-weight: 300;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/cite/2.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/cite/2.jpg);
	background-size: cover;
	background-position: center top;
	color: #fff;
	background-attachment: fixed; }

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px; }

blockquote::before {
	content: "\201C";
	font-size: 500%;
	font-weight: 300;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px; }

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block; }

cite img {
	width: 70px;
	height: 70px;
	padding: 2px;
	border-radius: 50%;
	margin-right: 5px;
	vertical-align: sub; /* top - middle - bottom - sub - super */
	background-color: rgba(255,255,255,0.90); }



/*  SECTION 6  ============================================================================= */

.section-6 {
	background-color: #f4f4f4; }

.section-6-content {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #efefef; }

.section-6-content div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8; }

.section-6-content div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; }

.section-6-content div:last-child {
	text-align: center;
	border: 0; }

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22; }

.plan-price span {
	font-size: 30%;
	font-weight: 300; }

.plan-price-meal { font-size: 80%; }

.section-6-content ul { list-style: none; }

.section-6-content ul li { padding: 5px 0; }



/*  SECTION 7  ============================================================================= */

.contact-form {
	width: 60%;
	margin: 0 auto; }

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	font-weight: 300;
	border-radius: 3px;
	border: 1px solid #ccc; }

textarea { height: 100px; }

input[type=checkbox] { margin: 10px 5px 10px 0; }

*:focus { outline: none; }


